@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

#header-background-color {
    background-color: #9bdeac;
    height: 75px;
}

body {
    font-family: Fredoka, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
}

#logo {
    font-size: 200%;
    letter-spacing: 1px;
    margin-left: 10px;
    float: left;
    color: black;
}

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    float: right;
}

#menu, #logo {
    line-height: 25px;
}

ul {
    position: sticky;
    position: -webkit-sticky
}

#menu li {
    margin-right: 10px;
    display: inline;
    list-style-type: none;
    border-right: 1px solid #6bac7d
}

#menu li:last-child {
    border-right: none;
  }

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

#menu a:hover {
    border-bottom: 1px solid #6bac7d;
}

.active {
    border-bottom: 1px solid #6bac7d;
}

#hero-image {
    height: 300px;
    width: 100%;
    max-height: 100%;
    background: url(../images/pexels-william-fortunato-6392805.jpg) no-repeat ;
    background-size: cover;
    background-position: 100% 25%;
    overflow: hidden;
    opacity: 0.5;
    animation-name: hero-fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

footer ul {
    list-style-type: none;
}