@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

#header-background-color {
    background-color: #9bdeac;
    height: 75px;
}

body {
    font-family: Fredoka, Helvetica, sans-serif;
    font-weight: 300;
    color: #3D151F;
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 200%;
    letter-spacing: 1px;
    margin-left: 10px;
    float: left;
    color: #3D151F;
}

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    float: right;
}

#menu, #logo {
    line-height: 25px;
}

ul {
    position: sticky;
    position: -webkit-sticky;
}

#menu li {
    margin-right: 10px;
    display: inline;
    list-style-type: none;
    border-right: 1px solid #6bac7d
}

#menu li:last-child {
    border-right: none;
  }

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

#menu a:hover {
    border-bottom: 1px solid #6bac7d;
}

.active {
    border-bottom: 1px solid #6bac7d;
}

#hero-image {
    height: 300px;
    width: 100%;
    max-height: 100%;
    background: url(../images/pexels-william-fortunato-6392805.jpg) no-repeat ;
    background-size: cover;
    background-position: 100% 25%;
    overflow: hidden;
    opacity: 0.5;
    animation-name: hero-fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

#our-classes {
    padding-top: 5%;
    margin-left: 25px;
    margin-right: 25px;
}

#baby-class {
    padding-top: 5%;
    margin-left: 25px;
    margin-right: 25px;
}

#toddler-class {
    padding-top: 5%;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 5%;
}

#location {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 10%;
}

footer {
    height: 75px;
    width: 100%;
    line-height: 75px;
    position: fixed;
	bottom: 0;
	right: 0;
}

#footer-background-color {
    background-color: #6bac7d;
    overflow: hidden;
}

.social-networks {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: -27px;
}

.social-networks > li {
    display: inline;
    float: left;
}

.social-networks i {
    font-size: 200%;
    margin-left: 25px;
    color: #3D151F;
    padding: 25%;
    vertical-align: middle;
}

footer > p {
    float: right;
    font-size: small;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    vertical-align: middle;
}

